
.fade-in-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
  }
  
  .fade-in-background.show {
    opacity: 0.7; 
  }
  